*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header1{
    font-family: 'Times New Roman', Times, serif;
}
 body{
     margin-top: 2rem;
 }

.swbutton {
    transform: scale(1.7);
    width: 2rem;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.swbutton:hover{
    background-color: rgb(109, 143, 236);
    border-radius: 15px;
}